
#divisao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.tabelaDeb {
    margin: 20px;
}

.tabelaCred {
    margin: 20px;
}

td {
    text-align: center;
}

.corpoTabela tr:nth-child(odd) {
    background-color: #fff
}

.corpoTabela tr:nth-child(even) {
    background-color: #ddd;
}