body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: white ;
}
.container {
    margin: 30px auto;
    padding: 10px 25px;
    width: 350px;
    height: auto;
    /* border: 1px solid #000; */
    border-radius: 20px;    
    background-color: #003f86;
    color: white;
}

textarea {
    margin: 10px;
}

.caixaEntrada { 
    display:flex;
    justify-content: center;
}

/* .caixaEntrada input {
    margin-right: 2%;
} */

.caixaEntrada input:nth-child(1) {
    width: 15%;
    margin-right: 2%;
}