*{
    background-color: rgb(120, 119, 119);
    margin: 05;
    padding: 05;
    box-sizing: border-box;
    border: 1px solid black;
}

#sector_structure, .sector_line, .cell  {
    border: none;
}

.model {
    visibility: hidden;
    display: none;
}