*{
    margin: 0px;
}

body {
    background: #ffd780a9
}

.cabecalho {
    border: 1px solid white;
    background: white;
    display:flex;
    flex-direction: row;
    font-family: "Gotham-Medium",sans-serif;
}

.cabecalho img {
    height: 5vh;
    padding-right: 3vw;
}

.titulo {
    position: relative;
    top: 1vh;
}

.child {
    position: relative;
    top: 1.5vh;
    left: 50vw;
    margin: 1vw;
}
.area-aluno {
    border-radius: 15px;
}

/* #card {
    width: 13vw;
    height: 20vh;
    margin: 3vw;
    padding-top: 3vh;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    font-family: "Gotham-Medium",sans-serif;
    background: #b2e5fd;
    box-shadow: 3px 3px 3px gray ;
} */