* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner';
};

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url(./images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    width: 1440px;
    height: 400px;
    
}

main {
    width: 50vw;
    border: 1px solid lightgray;
    border-radius: 7px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}



.top-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back {
    border-radius: 50px;
    border: none;
    color: white;
    background-color: hsl(176, 50%, 47%);
    width: 115px;
    height: 35px;
}

.bookmark {
    border-radius: 50px;
    border: none;
    color: gray;
    background-color: lightgray;
    width: 115px;
    height: 35px;
}



.card2 {
    border: 1px solid lightgray;
    border-radius: 7px;
    align-items: center;
}

.objective {
    display: flex;   
    margin: 0px;
    padding: 20px
}

.objective > div {
    margin: 0px 5px;
    padding: 10px;
    border-right: 1px solid lightgray;
}
.objective > div:nth-child(3) {
    border-right: none;
}

progress {
    width: 80%;
    margin: 0px 20px 20px 20px;
    height: 7px;
    border-radius: 7px;
  }
progress::-webkit-progress-bar {
    background-color: rgba(244, 243, 243, 0.801);
    border-radius: 7px;
  }
progress::-webkit-progress-value {
    background-color: hsl(176, 50%, 47%);
    border-radius: 7px;
  }



.card {
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 15px;
    padding: 20px
}

.cardHead > a {
    color: hsl(176, 50%, 47%);
    text-decoration: none;
}

.cardFoot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reward {
    border-radius: 50px;
    border: none;
    color: white;
    background-color: hsl(176, 50%, 47%);
    width: 115px;
    height: 35px;
}